/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1C8271;
    border-color: #1C8271;
}

.btn-primary:hover {
    background-color: #2BBBA5;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.body-changed {
    background: #F7FFFF;
}

header {
    background: #1C8271;
    color: #ffffff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    background: #1C8271;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.containerImg {
    position: relative;
}

.image {
    display: block;
    width: 100%
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    transition: .5s ease;
    background-color: #1C8271;
}

.container:hover .overlay {
    opacity: 0.6;
}

.text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.bottomImg {
    padding: 10px;
    background: #1C8271;
    width: 100%;
    height: 50px;
}

.bottomImg p {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
}

.textBlocks {
    width: 35%;
    background: rgba(43, 187, 165, 0.2);
    border-radius: 5px;
    margin: 8px;
    padding: 20px;
}

.textBlocks3 {
    width: 45%;
    background: rgba(43, 187, 165, 0.2);
    border-radius: 5px;
    margin: 8px;
    padding: 20px;
}

.textBlocks2 {
    width: 100%;
    height: auto;
    background: rgba(43, 187, 165, 0.2);
    border-radius: 5px;
    margin: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}

.title {
    margin: 10px;
    margin-left: 0;
    font-size: 50px;
    color: #1C8271;
    font-weight: bolder;
    margin-left: 0;
}

h1, h2, h4, h5, h6 {
    color: #1C8271;
    font-weight: bolder;
    margin: 20px;
    margin-top: 5px;
    margin-left: 0;
}

h3 {
    font-weight: bold;
    margin-left: 0;
}

.textBlocks2 td {
    width: 45%;
}

.textBlocks2 th {
    width: 45%
}