@model AvansFysioAppDomain.Domain.Treatment

<h2>Add treatment</h2>

<form asp-controller="Patientfile" asp-action="AddTreatment" method="post" class="m-2">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PatientFileId">Patient:</label>
        <select class="form-control" asp-for="PatientFileId" asp-items="@ViewBag.PatientFiles"></select>
    </div>

    <div class="form-group">
        <label asp-for="Room">Room:</label>
        <select asp-for="Room" class="form-control">
            <option value="">Select an occupation</option>
            <option value="Practice room">Practice room</option>
            <option value="Treatment room">Treatment room</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DateOfTreatment">Date of treatment:</label>
        <input asp-for="DateOfTreatment" class="form-control" type="Date"/>
    </div>
    
    <div class="form-group">
        <label asp-for="Particularities">Particularities:</label>
        <input asp-for="Particularities" class="form-control"/>
    </div>
    
    <div class="form-group">
        <label asp-for="PhysiotherapistId">Physiotherapist:</label>
        <select class="form-control" asp-for="PhysiotherapistId" asp-items="@ViewBag.Physiotherapists"></select>
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
    <a asp-controller="Home" asp-action="FindOperation" class="btn btn-secondary">Cancel</a>
</form>