@model AvansFysioAppDomain.Domain.Appointment


<form asp-action="AddAppointment" method="post" class="m-2">

    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="SessionId">Session:</label>
        <select class="form-control" asp-for="SessionId" asp-items="@ViewBag.Sessions"></select>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentBegin">Time of appointment:</label>
        <input class="form-control" asp-for="AppointmentBegin" asp-format="{0:yyyy-MM-ddTHH:mm}" />
    </div>

    <button type="submit" class="btn btn-primary">Add patient</button>
    <a asp-action="PatientList" class="btn btn-secondary">Cancel</a>
</form>