@model AvansFysioAppDomain.Domain.Patient

<form asp-action="EditPatientView" method="post" class="m-2">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="PatientId" class="form-control" type="hidden">
    </div>
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone number:</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <div class="form-group">
            <label asp-for="Occupation">Occupation:</label>
            <select asp-for="Occupation" class="form-control">
                <option value="">Select an occupation</option>
                <option value="Student">Student</option>
                <option value="Employee">Employee</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="OccupationId">Student or Worker ID</label>
        <input asp-for="OccupationId" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Birthday">Birthday:</label>
        <input asp-for="Birthday" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="Gender">Gender:</label>
        <input asp-for="Gender" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
    <a asp-action="PatientList" class="btn btn-secondary">Cancel</a>
</form>