@model System.Collections.Generic.IEnumerable<AvansFysioAppDomain.Domain.Patient>


<a asp-action="PatientList">Patient list</a>

<a asp-action="AddSession">Add Session</a>
<a asp-action="AddAppointment">Add Appointment</a>
<a asp-action="AddTreatment">Add treatment</a>
